ninja==1.11.1.4
click==8.2.1
opentelemetry-exporter-otlp-proto-http==1.33.1
rich-toolkit==0.14.7
diskcache==5.6.3
nvidia-nccl-cu12==2.26.2
aiosignal==1.3.2
xgrammar==0.1.19
cloudpickle==3.1.1
plotly==6.1.2
psutil==7.0.0
lm-format-enforcer==0.10.11
msgpack==1.1.0
httpx==0.28.1
platformdirs==4.3.8
airportsdata==20250523
typer==0.16.0
pluggy==1.6.0
SQLAlchemy==2.0.41
nvidia-cufft-cu12==11.3.0.4
cffi==1.17.1
scikit-learn==1.7.0
frozenlist==1.6.0
dnspython==2.7.0
yarl==1.20.0
statsmodels==0.14.4
numba==0.61.2
importlib_metadata==8.6.1
grpcio==1.71.0
hjson==3.1.0
opentelemetry-exporter-otlp-proto-grpc==1.33.1
narwhals==1.41.1
dill==0.3.8
protobuf==5.29.5
huggingface-hub==0.32.0
h11==0.16.0
torchaudio==2.7.0
pip==24.3.1
filelock==3.18.0
partial-json-parser==0.2.1.1.post5
vllm==0.9.0
Jinja2==3.1.6
wrapt==1.17.2
requests==2.32.3
blake3==1.0.5
anyio==4.9.0
nvidia-cuda-cupti-cu12==12.6.80
safetensors==0.5.3
networkx==3.4.2
python-json-logger==3.3.0
annotated-types==0.7.0
interegular==0.3.3
xformers==0.0.30
prometheus_client==0.22.0
wandb==0.20.1
exceptiongroup==1.3.0
nvidia-cufile-cu12==1.11.1.6
openai==1.82.1
xxhash==3.5.0
setproctitle==1.3.6
ray==2.46.0
uvicorn==0.34.2
kaleido==0.2.1
aiohttp==3.12.4
alembic==1.16.1
httpcore==1.0.9
joblib==1.5.1
nvidia-nvtx-cu12==12.6.77
nvidia-cusparselt-cu12==0.6.3
tomli==2.2.1
googleapis-common-protos==1.70.0
opentelemetry-proto==1.33.1
watchfiles==1.0.5
propcache==0.3.1
deepspeed==0.17.1
charset-normalizer==3.4.2
python-multipart==0.0.20
pytest==8.4.0
python-dateutil==2.9.0.post0
opentelemetry-sdk==1.33.1
optuna==3.6.1
jsonschema==4.24.0
colorlog==6.9.0
mdurl==0.1.2
nvidia-cudnn-cu12==9.5.1.17
transformers==4.52.3
tqdm==4.67.1
pycparser==2.22
nvidia-curand-cu12==10.3.7.77
pyarrow==20.0.0
nvidia-cusolver-cu12==11.7.1.2
triton==3.3.0
accelerate==1.7.0
rich==14.0.0
nvidia-cuda-nvrtc-cu12==12.6.77
Deprecated==1.2.18
nvidia-cusparse-cu12==12.5.4.2
nvidia-nvjitlink-cu12==12.6.85
zipp==3.22.0
einops==0.8.1
astor==0.8.1
sentry-sdk==2.30.0
outlines==0.1.11
referencing==0.36.2
GitPython==3.1.44
starlette==0.46.2
nvidia-cublas-cu12==12.6.4.1
sniffio==1.3.1
nest-asyncio==1.6.0
pillow==11.2.1
sentencepiece==0.2.0
compressed-tensors==0.9.4
pytest-mock==3.14.1
async-timeout==5.0.1
markdown-it-py==3.0.0
msgspec==0.19.0
iniconfig==2.1.0
opentelemetry-api==1.33.1
fsspec==2025.3.0
regex==2024.11.6
opentelemetry-exporter-otlp==1.33.1
pandas==2.3.0
hf-xet==1.1.2
opentelemetry-exporter-otlp-proto-common==1.33.1
responses==0.25.7
outlines_core==0.1.26
llguidance==0.7.26
pycountry==24.6.1
cupy-cuda12x==13.4.1
uvloop==0.21.0
jiter==0.10.0
sympy==1.14.0
opentelemetry-semantic-conventions==0.54b1
urllib3==2.4.0
multiprocess==0.70.16
tokenizers==0.21.1
soundfile==0.13.1
fastrlock==0.8.3
mistral_common==1.5.6
opencv-python-headless==4.11.0.86
fastparquet==2024.11.0
email_validator==2.2.0
pydantic_core==2.33.2
tzdata==2025.2
datasets==3.6.0
nvidia-cuda-runtime-cu12==12.6.77
aiohappyeyeballs==2.6.1
httptools==0.6.4
jsonschema-specifications==2025.4.1
typing-inspection==0.4.1
lark==1.2.2
attrs==25.3.0
scipy==1.15.3
opentelemetry-semantic-conventions-ai==0.4.9
prometheus-fastapi-instrumentator==7.1.0
typing_extensions==4.13.2
cramjam==2.10.0
gguf==0.17.0
websockets==15.0.1
multidict==6.4.4
torch==2.7.0
fastapi-cli==0.0.7
smmap==5.0.2
python-rapidjson==1.20
gitdb==4.0.12
fastapi==0.115.12
torchvision==0.22.0
mpmath==1.3.0
rpds-py==0.25.1
Mako==1.3.10
orjson==3.10.18
pydantic==2.11.5
numpy==2.2.6
shellingham==1.5.4
tiktoken==0.9.0
Pygments==2.19.1
threadpoolctl==3.6.0
pyzmq==26.4.0
greenlet==3.2.3
llvmlite==0.44.0
cachetools==6.0.0
depyf==0.18.0
py-cpuinfo==9.0.0
patsy==1.0.1
docopt==0.6.2
unattended-upgrades==0.1
jsonpatch==1.32
MarkupSafe==2.0.1
launchpadlib==1.10.16
pyrsistent==0.18.1
ptyprocess==0.7.0
docker-compose==1.29.2
bcrypt==3.2.0
six==1.16.0
PyGObject==3.42.1
lazr.uri==1.0.6
more-itertools==8.10.0
certifi==2020.6.20
pyOpenSSL==21.0.0
PyHamcrest==2.0.2
pexpect==4.8.0
PyJWT==2.3.0
distro==1.7.0
jsonpointer==2.0
pyserial==3.5
cryptography==3.4.8
idna==3.3
pytz==2022.1
sos==4.8.2
docker==5.0.3
incremental==21.3.0
python-dotenv==0.19.2
Babel==2.8.0
texttable==1.6.4
ssh-import-id==5.11
cloud-init==24.4.1
netifaces==0.11.0
oauthlib==3.2.0
constantly==15.1.0
python-debian==0.1.43+ubuntu1.1
packaging==21.3
blinker==1.4
chardet==4.0.0
systemd-python==234
pyparsing==2.4.7
websocket-client==1.2.3
python-magic==0.4.24
requests==2.25.1
pyasn1-modules==0.2.1
httplib2==0.20.2
distro-info==1.1+ubuntu0.2
service-identity==18.1.0
ubuntu-pro-client==8001
apparmor==3.0.4
python-apt==2.4.0+ubuntu4
colorama==0.4.4
pyasn1==0.4.8
Twisted==22.1.0
hyperlink==21.0.0
LibAppArmor==3.0.4
ufw==0.36.1
jeepney==0.7.1
zope.interface==5.4.0
dbus-python==1.2.18
configobj==5.0.6
wadllib==1.3.6
PyYAML==5.4.1
setuptools==59.6.0
keyring==23.5.0
xkit==0.0.0
Automat==20.2.0
SecretStorage==3.3.1
lazr.restfulclient==0.14.4
command-not-found==0.3
screen-resolution-extra==0.0.0
dockerpty==0.4.1
